/* Reset some default styles */
body, h1, h2, h3, p, ul, li, form {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: , 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serifs-serif;
    line-height: 1.6;
    background-color: #f9f9f9ef;
}

header {
    background-color: #fffbf900;
    padding: 20px;
    text-align: center;
}

header h1 {
    color: #330a0a;
    font-size: 36px;
    margin-bottom: 10px;
}

nav ul {
    list-style: none;
}

nav li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #696969;
    font-size: 18px;
}

main {
    padding: 20px;
}

section {
    margin-bottom: 40px;
}

.content {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

h2 {
    color: #ffffff;
    margin-bottom: 20px;
}

p {
    color: #e9e1e1;
    margin-bottom: 20px;
}

.cta-btn {
    display: inline-block;
    background-color: #007BFF;
    color: white;
    padding: 10px 20px;
    border-radius: 4px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.cta-btn:hover {
    background-color: #0056b3;
}

.product-card {
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 4px;
    margin-bottom: 20px;
}

.product-card img {
    max-width: 100%;
    border-radius: 4px;
    margin-bottom: 10px;
}

footer {
    text-align: center;
    background-color: #aeabd1;
    color: #af0707;
    padding: 10px;
}
/* Reset some default styles */
body, h1, h2, h3, p, ul, li, form {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-image: url('pexels-edgars-kisuro-1488463\ \(1\).jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

header {
    background-color: #f7bd00e5;
    padding: 20px;
    text-align: center;
}

header h1 {
    color: #fcfbf9;
    font-size: 46px;
    margin-bottom: 50px;
}

nav ul {
    list-style: none;
}

nav li {
    display: inline;
    margin-right: 30px;
}

nav a {
    text-decoration: none;
    color: #eeff04;
    font-size: 20px;
}

main {
    padding: 20px;
}

section {
    margin-bottom: 40px;
}

.content {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

h2 {
    color: #f5f5f5;
    margin-bottom: 70px;
}

p {
    color: rgb(255, 232, 23);
    margin-bottom: 30px;
}

.cta-btn {
    display: inline-block;
    background-color: #830a0a;
    color: rgb(253, 252, 255);
    padding: 10px 20px;
    border-radius: 4px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.cta-btn:hover {
    background-color: #cc2b2b;
}

.product-card {
    border: 1px solid #fffffa;
    padding: 20px;
    border-radius: 4px;
    margin-bottom: 20px;
}

.product-card img {
    max-width: 100%;
    border-radius: 4px;
    margin-bottom: 10px;
}

footer {
    text-align: start;
    background-color: #300101;
    color: #eeeeee;
    padding: 10px;
}
